@font-face {
    font-family: 'Norse-Bold';
    src: url(./Norse-Bold.otf);
}

*, ::after, ::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

img {
    max-width: 100%;
    display: block;
}

.side {
    min-height: 100vh;
    background-image: url(./img/photo-1585202900225-6d3ac20a6962.jpg);
    background-size: cover;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    padding: 1rem 0;
}

h1 {
    font-family: 'Norse-Bold', sans-serif;
}

.logo-background {
    color: white;
    font-size: 3rem;
    min-height: 7rem;
    min-width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    grid-row: 2 ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    max-width: 6rem;
    max-height: 6rem;
}

.form {
    background: #f9fafb;
    font-size: 1.5rem;
    padding: 2em 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form > * {
    padding: 0 2em;
}

.form-inputs {
    background: #fff;
    padding: 1em 2em;
    margin-bottom: 2rem;
    box-shadow: 0 3px 10px gray;
}

.row {
    display: flex;
    gap: 40px;
}

.col {
    display: flex;
    flex-direction: column;
}

.form  > p {
    margin-bottom: 2rem;
}

.form-inputs label {
    font-size: 0.75rem;
    text-transform: uppercase;
}

.bg-attribution {
    color: white;
    font-size: .75rem;
    grid-row: 5;
    align-self: self-end;
    justify-self: center;
}

.bg-attribution a:link {
    color: white;
}

